@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 28pt;
    text-transform: capitalize;
}
.input-text{
    display: flex;
    justify-content:center;
    align-items: center;
}
input{
    display: block;
    width: 50vw;
    height: 30px;
}
input[type=submit]{
    background-color: green;
    width: 70px;
    height: 30px;
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius:5px;
    border: 1px solid turquoise !important;
}
input[type=text]{
    color: grey;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    outline: 0.1em solid turquoise;
    
    margin-top: 20px;
}
input[type=submit]:focus{
    cursor: pointer;
    outline: 0;
}

